[submodule "zero_shot_replication/evals/leetcode_hard_gym"]
	path = zero_shot_replication/evals/leetcode_hard_gym
	url = https://github.com/emrgnt-cmplxty/leetcode-hard-gym
[submodule "zero_shot_replication/llm_providers/automata"]
	path = zero_shot_replication/llm_providers/automata
	url = https://github.com/emrgnt-cmplxty/automata.git
[submodule "automata"]
	path = automata
	url = https://github.com/emrgnt-cmplxty/automata.git
