# Local cruft and other
.env
*.bak
**/__pycache__/**

# Ignore LEETCODE problem set
# due to Copyright, reproducers must 
# scrape their own copy
psets/LEETCODE

# Generic ignore for results
# We then hard-code inclusion for
# completion-only results
results/openai/leetcode
results/anthropic/leetcode
results/openai/leetcode_msft_sparks
results/anthropic/leetcode_msft_sparks

# Local sandbox environments
playground/
