[submodule "scip-python"]
	path = scip-python
	url = https://github.com/emrgnt-cmplxty/scip-python
        ignore = all # necessary to avoid issues from modified package-lock.json
[submodule "automata-embedding-data"]
	path = automata-embedding-data
	url = git@github.com:emrgnt-cmplxty/automata-embedding-data.git
