[build-system]
requires = ["poetry-core", "setuptools", "wheel"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
automata = 'automata.cli.__main__:cli'

[tool.poetry]
name = "automata"
version = "0.1.0"
description = "Automata: The Self-Coding Machine"
authors = ["Owen Colegrove <owen@emergentagi.com>"]
license = "Apache-2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
black = "^23.3.0"
click = "8.1.3"
codecov = "2.1.13"
colorlog = "6.7.0"
isort = "5.12.0"
jinja2 = "3.1.2"
jsonpickle = "3.0.1"
jsonschema = "4.17.3"
matplotlib = "3.7.1"
networkx = "3.1"
numpy = "1.25.0"
openai = "0.27.8"
pandas = "2.0.3"
plotly = "5.15.0"
protobuf = "4.23.1"
pydantic = "1.10.7"
pypandoc = "1.11"
pytest-mock = "3.11.1"
python-dotenv = "1.0.0"
redbaron = "0.9.2"
scikit-learn = "1.2.2"
scipy = "1.10.1"
termcolor = "2.3.0"
tiktoken = "0.4.0"
types-protobuf = "4.23.0.1"
GitPython = "3.1.31"
PyGithub = "1.58.2"
PyYAML = "6.0"
chromadb = "0.3.26"
astunparse = "^1.6.3"

[tool.poetry.dev-dependencies]
pytest = "^7.4"

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning:jsonspec.*"]
addopts = "-m 'not regression' --ignore=**/sample_modules/* --ignore=scip-python/ --ignore=local_tasks/"
markers = ["regression: marks tests as regression tests"]

[tool.black]
line-length = 99
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | random
    | local_env
    | build
    | scip-python
    | local_tasks
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 99
skip_glob = ["local_env/*", "**/sample_code/*"]

[tool.mypy]
# other mypy configurations go here
# uncomment if this is being really annoying again
ignore_missing_imports = true
exclude = '(local_env|scip-python|__pycache__|local_tasks|sample_modules)/'

[[tool.mypy.overrides]]
module = "pytz.*"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "yaml"
ignore_missing_imports = true

[tool.coverage.run]
source = ["."]
omit = ["*/tests/*", "*/site-packages/*", "*/distutils/*", "*/venv/*", "setup.py", "conftest.py"]

[tool.coverage.report]
precision = 2
omit = ["*/tests/*", "*/site-packages/*", "*/distutils/*", "*/venv/*", "setup.py", "conftest.py"]

[tool.coverage.html]
directory = "htmlcov/"

[tool.codecov]
require_ci_to_pass = true

[tool.flake8]
ignore = ["E501", "W503"]

[tool.pyright]
reportGeneralTypeIssues = true
reportMissingTypeStubs = false
useLibraryCodeForTypes = true

